*{
    font-family: 'Rubik', arial;
}

body { /* padding-top to move the body down so the position:fixed/absolute header doesnt cover */
    padding-top: 80px;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    background-image: url("Homebg.png");     
    background-color: rgba(0, 0, 0, 65%);
    background-blend-mode: darken;
}
header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding-top: 20px;
    padding-bottom: 80px;
    text-align: center;
    text-shadow: 2;
    
}
footer a,
header a { /* dont delete this, it stops the weird bug with <a> showing a box u can click */
    display: inline-block;
}

h1{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    color:rgb(255, 255, 255);
}
.dropdown,
.button {
    width: 120px;
    padding: 10px 15px; 
    font-size: 14px;
    border-radius: 20px;
    border: 1px rgb(109, 109, 109);
    background-color: rgb(255,255,255);
    color: rgb(32, 32, 32);
    margin: 0 13px;
    font-weight: 600;
    text-align: center;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.fbutton {
    height: 300px;
    width: 300px;
    text-align: center;
    vertical-align: text-top;
    padding: 10px 15px; 
    font-size: 30px;
    border-radius: 40px;
    border: 1px rgb(109, 109, 109);
    background-color: rgb(255,255,255);
    color: rgb(32, 32, 32);
    margin: 0 13px;
    font-weight: 800;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.dbutton {
    width: 120px;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px rgb(109, 109, 109);
    background-color: rgb(222, 222, 222);
    color: rgb(32, 32, 32);
    margin: 0 13px;
    font-weight: 600;
    text-align: center;
    transform: scale(0.95);
}
.ddropdown {
    width: 120px;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px rgb(109, 109, 109);
    background-color: rgb(222, 222, 222);
    color: rgb(32, 32, 32);
    margin: 0 13px;
    font-weight: 600;
    text-align: center;
    transform: scale(0.95);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.ddropdown:hover,
.dropdown:hover,
.fbutton:hover,
.button:hover
{
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.2),
    0 0 25px rgba(255, 255, 255, 0.8);
    background-color: rgb(240, 240, 240);
    transform: scale(1.1);
}
.ddropdown:hover,
.dropdown:hover{
    cursor:grab;
}
.ddropdown:active,
.dropdown:active{
    text-decoration: underline;
    cursor:grabbing;
    color: blue;
    background-color: rgb(200, 200, 200);
    transform: scale(0.90);
}
.button:hover{
    cursor:pointer;
    text-decoration: underline;
}
.fbutton:hover{
    cursor:pointer;
}
.fbutton:active,
.button:active {
    cursor:pointer;
    color: blue;
    background-color: rgb(200, 200, 200);
    transform: scale(0.90);
}
table, th, td{
    border: 2px solid white; 
    margin:auto;
}

.backgroundcover{
    background-color: rgba (0,0,0,0.3);
    border-radius: 20px;
}
.box{
    background: rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 16px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

.split{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    gap: 40px;
}

.panel-left,
.panel-right{
    width: 48%;
    padding: 30px;
    background: rgba(0,0,0,0.55);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
.toc{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width:40%;
    margin:40px auto;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.toc:hover{
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.2),
    0 0 25px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
    cursor: pointer;

}
